input {
    margin-bottom: 10px;
}
h5 {
    margin: 0  auto;
}
ul {
    list-style: none;
}
.list_left {
    margin-left: 50px ;
}
.close {
    margin-left: 0px !important;
    padding-left: 5px;
}
a{
    color: aliceblue
}
a:hover{
    text-decoration-line: none;
    color: black;
}
a:active{
    color: black;
}

#flip {
    width: 50px !important;
    height: 50px !important;
    cursor:pointer;
}
#layer-left{
    position: absolute;
    width: 200px;
    height: 500px;
    display: none;
    margin-top: 66px;
    z-index:9999;
}
.search{
    width: 100px !important;
}
.form-control {
    margin-top: 10px;
}
.list-group-item-light{
    background: #343A40;
    
}
.list-group-item a{
    margin-left: 30px;
}

.list-group-item:first-child {
   border-radius: 0px; 
}
.top-ul li {
    margin-left: 20px;
}
.file-list .card {
    width: 13rem !important;
}
.files-title a{
    color: dimgrey;
    text-align: center;
}
.files-title p{
    text-align: center;
}
.file_list_time img{
    width: 20px !important;
    height: 20px !important;
}
.file_list_time {
    margin-bottom: 30px;
}
.files-title a:hover{
    color: black;
}
.files-title img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.card {
    float: left;
    margin-left: 3px;
}
.card_all {
    width: 1107px;
}
.files-title {
    padding: 22px;
    height: 800px;
}

.card-body {
    height: 200px;
}
.card-body a{
    color: darkgray
}

.btn-left {
    margin-left: 10px;
}
.modal-title{
    text-align: center !important;
}
.modal-content{
    width: 400px;
    height: 453px;
}
.modal-body {
    flex: 0.3 1 auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}
p {
    margin-bottom: 0em;
}
.pull-left ul{
    margin-bottom: 0px;
}
.btn {
    line-height: 1.8em;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0em;
}
.login_a {
    text-align: center;
}
.login_a a{
    color: deepskyblue;
}
.login_a a:hover{
    color: #0069D9;
}
.modal-footer {
    margin-top: 10px;
    justify-content: center;
}
/* #login {
    display: block;
} */
#registered{
    display: none;
}
.registered {
    height: 610px;
}

label{
    margin-top: 10px;
    margin-bottom: 0px;
}
/* 上传按钮 */
/* 面板 */
#ul {
    position: relative;
    display: table;
    margin: 0 auto;
    text-align: center;
}
#ul li{
    list-style: none;
    margin-top: 10px;
    float: left;

}

/* void */
.void {
    margin-top: 20px;
}
.video-js .vjs-big-play-button{
    font-size: 2.5em !important;
    line-height: 2.3em !important;
    height: 2.5em !important;
    width: 2.5em !important;
    -webkit-border-radius: 2.5em !important;
    -moz-border-radius: 2.5em !important;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115,133,159,.5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.75em;
}
/* 中间的播放箭头 */
.vjs-big-play-button .vjs-icon-placeholder {
    font-size: 1.63em !important;
}
/* 加载圆圈 */
.vjs-loading-spinner {
    font-size: 2.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin-top: -1em;
    margin-left: -1.5em;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
.btn {
    width: 100px;
    float: right;
    margin-top: 10px;
}

.django-ckeditor-widget {
    width: 100%;
}

/* 评论 */
.comment_show {
    margin-top: 50px;
    border-top: 1px #e5e9ef solid;
}
.comment_form {
    margin-top: 1em;
    padding: 20px;
}
.username {
    font-size: 20px;
}
.comment_top {
    margin-bottom: 10px;
}
.comment p {
    font-size: 25px;
    border-bottom:1px #e5e9ef solid; 
    padding-bottom: 5px;
}
/* 展示 */
.show {
    padding-left: 5px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #e5e9ef solid;
}
.user {
    font-size: 16px;
    color: #6d757a;
}
.comment_content {
    padding: 10px;
    font-size: 18px;
}

.about {
    font-size: 5px;
    font-weight: lighter;
    color: #6d757a;
}
.about .del {
    float: right;
    font-size: 12px;
    color: #6d757a;
    margin-right: 20px;
}
.del:hover{
    color: #007bff;
}


/* 文件管理 */
.list-group-flush{
    padding:0 20px;
}
.list-group-item span{
    display: block;
    width: 400px;
    float: left;
}
.last {
    float: right;
}
.manage {
    padding: 20px 100px;
}

/* 删除 */
.del-file{
    padding: 20px 100px;
}
.yes {
    color: #0D79FC
}
.yes:hover{
    color: #16A2B8
}