/* label {
    margin-top:10px; 
} */
input {
    margin-bottom: 10px;
}
h5 {
    margin: 0  auto;
}
ul {
    list-style: none;
}
.list_left {
    margin-left: 50px ;
}
.close {
    margin-left: 0px !important;
    padding-left: 5px;
}
a{
    color: aliceblue
}
a:hover{
    text-decoration-line: none;
    color: black;
}
a:active{
    color: black;
}

#flip {
    width: 50px !important;
    height: 50px !important;
    cursor:pointer;
}
#layer-left{
    position: absolute;
    width: 200px;
    height: 500px;
    display: none;
    margin-top: 66px;
    z-index:9999;
}
.search{
    width: 100px !important;
}
.form-control {
    margin-top: 10px;
}
.list-group-item-light{
    background: #343A40;
    
}
.list-group-item:first-child {
   border-radius: 0px; 
}
.top-ul li {
    margin-left: 20px;
}
.file-list .card {
    width: 13rem !important;
}
.files-title a{
    color: dimgrey;
    text-align: center;
}
.files-title p{
    text-align: center;
}
.files-title a:hover{
    color: black;
}
.files-title img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.card {
    float: left;
    margin-left: 3px;
}
.card-body {
    height: 200px;
}
.btn-left {
    margin-left: 10px;
}
.modal-title{
    text-align: center !important;
}
.modal-content{
    width: 400px;
    height: 453px;
}
.modal-body {
    flex: 0.3 1 auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}
p {
    margin-bottom: 0em;
}
.pull-left ul{
    margin-bottom: 0px;
}
.btn {
    line-height: 1.8em;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0em;
}
.login_a {
    text-align: center;
}
.login_a a{
    color: deepskyblue;
}
.login_a a:hover{
    color: #0069D9;
}
.modal-footer {
    margin-top: 10px;
    justify-content: center;
}
/* #login {
    display: block;
} */
#registered{
    display: none;
}
.registered {
    height: 610px;
}

label{
    margin-top: 10px;
    margin-bottom: 0px;
}
/* 上传按钮 */

