{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'echarts.min.js' %}"></script>
</head>
<body>
  <!-- 左边用户操作 start -->
    <div id="layer-left">
        <ul class="list-group bg-ul" >
          {% if user.is_authenticated %} 
            <li class="list-group-item list-group-item-light ">{{ user }} 你好</li>
            <li class="list-group-item list-group-item-light"><a href="">用户信息</a></li>  
            <li class="list-group-item list-group-item-light"><a href="">资源管理</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'upload_files:upload' %}">上传文件</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'logout' %}">退出登录</a></li>
          {% else %}  
          <li class="list-group-item list-group-item-light ">暂未登录</li>
          <li class="list-group-item list-group-item-light "><a data-toggle="modal" data-target="#exampleModalCenter" href="" onclick="showhidediv('layer-left')">登录/注册</a></li>
          {% endif %}  
      </ul>
    </div>
    <!-- 左边用户操作 end -->

    <!-- 导航栏 start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <img id="flip" class="head-sign" {% if user.is_authenticated %} src="{% static 'img/头像.png' %}" {% else %} src="{% static 'img/nologin.png' %}" {% endif %} onclick="showhidediv('layer-left')">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto top-ul">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">首页<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=文件">文件</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=图片">图片</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=音乐">音乐</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=视频">视频</a>
            </li>
          </ul>
          <!-- 搜索框 start -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit">Search</button>
          </form>
          <!-- 搜索框 end -->
        </div>
      </nav>
      <!-- 导航栏 end -->



<!-- 登录  注册-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <!-- 模态框 登录 start -->
  <form action="" method="post" id="login">
  {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ loginform }}
        </div>
        <input type="submit" class="btn btn-primary" value="登录">
        <!-- javascript:void(0); 让地址不进行跳转 -->
        <span class="login_a">其他登录方式-><a href="javascript:void(0);">微信</a>. <a href="javascript:void(0);">QQ</a></span>
        <div class="modal-footer">
            <h5><span class="login_a">没有账号？<a href="javascript:void(0);" onclick="showhidediv('registered')">注册</a></span></h5> 
        </div>
      </div>
    </div>
  </form>
  <!-- 模态框 登录 end -->
  <!-- 模态框 注册 start -->
<form action="" method="post" id="registered">
  {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content registered" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ registerform }}
        </div>
        <input type="submit" class="btn btn-primary" value="注册">
        <!-- javascript:void(0); 让地址不进行跳转 -->
        <!-- <span class="login_a">其他登录方式-><a href="javascript:void(0);">微信</a>. <a href="javascript:void(0);">QQ</a></span> -->
        <div class="modal-footer">
            <h5><span class="login_a">已有账号<a href="javascript:void(0);" onclick="showhidediv('login')">登录</a></span></h5> 
        </div>
      </div>
    </div>
  </form>
  <!-- 模态框 注册 end -->
</div>
      <!-- List group -->
      {% block content %} {% endblock %}
     <!-- Optional JavaScript -->
     <script>
        //创建一个showhidediv的方法，直接跟ID属性
        function showhidediv(id){
        var sbtitle=document.getElementById(id);
          
        var js_login = document.getElementById('login')
        var js_registered = document.getElementById('registered')
        if(sbtitle){
           if(sbtitle.style.display=='block'){
           sbtitle.style.display='none';
           }else{
           sbtitle.style.display='block';
              if(id=='registered'){
                js_login.style.display='none';
              }
              if(id=='login'){
                  js_registered.style.display='none';
              } 
           }
        }
        }

        // function changeColor(num){
        // for(var i=1;i<=5;i++){
        // var str = document.getElementById('sub_'+i);
        // if(i==num){
        // str.className="active";
        // }else{
        // str.className="";
        // }
        // }
        // }
      </script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap-4.2.1-dist/js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.2.1-dist/js/popper.min.js' %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>