{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="layer-left">
        <ul class="list-group bg-ul" >
          {% if user.is_authenticated %} 
            <li class="list-group-item list-group-item-light ">{{ user }} 你好</li>
            <li class="list-group-item list-group-item-light"><a href="">用户信息</a></li>  
            <li class="list-group-item list-group-item-light"><a href="">资源管理</a></li>
            <li class="list-group-item list-group-item-light"><a href="">上传</a></li>
          {% else %}  
          <li class="list-group-item list-group-item-light ">暂未登录</li>
          <li class="list-group-item list-group-item-light "><a data-toggle="modal" data-target="#exampleModal" href="">登录/注册</a></li>
          {% endif %}

          
          
      </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <img id="flip" class="head-sign" {% if user.is_authenticated %} src="{% static 'img/头像.png' %}" {% else %} src="{% static 'img/nologin.png' %}" {% endif %} onclick="showhidediv('layer-left')">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto top-ul">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">首页<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=文件">文件</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=图片">图片</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=音乐">音乐</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload_files:showfiles' %}?a=视频">视频</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">登录</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ loginform }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      <!-- List group -->
      {% block content %} {% endblock %}
     <!-- Optional JavaScript -->
     <script>
        //创建一个showhidediv的方法，直接跟ID属性
        function showhidediv(id){
        var sbtitle=document.getElementById(id);
        if(sbtitle){
           if(sbtitle.style.display=='block'){
           sbtitle.style.display='none';
           }else{
           sbtitle.style.display='block';
           }
        }
        }

        function changeColor(num){
        for(var i=1;i<=5;i++){
        var str = document.getElementById('sub_'+i);
        if(i==num){
        str.className="active";
        }else{
        str.className="";
        }
        }
        }

      </script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap-4.2.1-dist/js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.2.1-dist/js/popper.min.js' %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>