{% extends 'base.html' %}

{% block content %}
<div id="main" style="width: 600px;height:400px;"></div>
<script>
echarts.init(document.getElementById('main')).setOption({
    title: {
        text: "文件类型比例",
    },
    series : [
        {
            type: 'pie',
            radius: '55%',
            data:[
                {value:{{ 文件 }}, name:'文件'},
                {value:{{ 图片 }}, name:'图片'},
                {value:{{ 音乐 }}, name:'音乐'},
                {value:{{ 视频 }}, name:'视频'},
            ]
        }
    ]
})
</script>
{% endblock %}